<div class="flex flex-col gap-2">
  <p class="uppercase text-xs my-2 text-gray-400">links</p>
  <div class="sm:flex gap-8">
    <a
      href="https://github.com/alexfedy"
      target="_blank"
      class="social-link pointer flex flex-row gap-2 p-2 w-fit rounded hover:bg-gray-700/50 transition"
    >
      <h2>Github</h2><div class="scale-x-100">&#8599;</div>
    </a>
    <a
      href="https://www.linkedin.com/in/alex-fedorov-163946211/"
      target="_blank"
      class="social-link pointer flex flex-row gap-2 p-2 w-fit rounded hover:bg-gray-700/50 transition"
    >
      <h2>Linkedin</h2><div class="scale-x-100">&#8599;</div>
    </a>
  </div>
</div>
