<div class="flex flex-wrap gap-4 text-2xl justify-center md:text-3xl">
  <i class="devicon-javascript-plain"></i>
  <i class="devicon-tailwindcss-original-wordmark"></i>
  <i class="devicon-react-original"></i>
  <i class="devicon-typescript-plain"></i>
  <i class="devicon-php-plain"></i>
  <i class="devicon-jquery-plain"></i>
  <i class="devicon-nodejs-plain"></i>
  <i class="devicon-express-original"></i>
  <i class="devicon-nextjs-line"></i>
  <i class="devicon-python-plain"></i>
  <i class="devicon-java-plain-wordmark"></i>
  <i class="devicon-mysql-plain"></i>
  <i class="devicon-c-line"></i>
  <i class="devicon-vscode-plain"></i>
  <i class="devicon-git-plain"></i>
  <i class="devicon-github-original"></i>
  <i class="devicon-bitbucket-original"></i>
  <i class="devicon-docker-plain"></i>
  <i class="devicon-apachekafka-original"></i>
  <i class="devicon-figma-plain"></i>
</div>
